In [1]:
import pandas as pd
import sqlite3

In [4]:
conn = sqlite3.connect('database.sqlite')

In [5]:
tables = pd.read_sql_query('select Name from sqlite_master where type = "table"',conn)

In [7]:
type(tables)

pandas.core.frame.DataFrame

In [9]:
for n in tables.name:
    rows = pd.read_sql_query('select count(*) as RowCnt from '+n, conn)
    print(n)
    print(rows)

Emails
   RowCnt
0    7945
Persons
   RowCnt
0     513
Aliases
   RowCnt
0     850
EmailReceivers
   RowCnt
0    9306

In [19]:
emails_df = pd.read_sql_query('select * from Emails',conn)
emails_df.head(2)

,Id,DocNumber,MetadataSubject,MetadataTo,MetadataFrom,SenderPersonId,MetadataDateSent,MetadataDateReleased,MetadataPdfLink,MetadataCaseNumber,...,ExtractedTo,ExtractedFrom,ExtractedCc,ExtractedDateSent,ExtractedCaseNumber,ExtractedDocNumber,ExtractedDateReleased,ExtractedReleaseInPartOrFull,ExtractedBodyText,RawText
0,1,C05739545,WOW,H,"Sullivan, Jacob J",87,2012-09-12T04:00:00+00:00,2015-05-22T04:00:00+00:00,DOCUMENTS/HRC_Email_1_296/HRCH2/DOC_0C05739545...,F-2015-04841,...,,"Sullivan, Jacob J <Sullivan11@state.gov>",,"Wednesday, September 12, 2012 10:16 AM",F-2015-04841,C05739545,05/13/2015,RELEASE IN FULL,,UNCLASSIFIED\nU.S. Department of State\nCase N...
1,2,C05739546,H: LATEST: HOW SYRIA IS AIDING QADDAFI AND MOR...,H,,,2011-03-03T05:00:00+00:00,2015-05-22T04:00:00+00:00,DOCUMENTS/HRC_Email_1_296/HRCH1/DOC_0C05739546...,F-2015-04841,...,,,,,F-2015-04841,C05739546,05/13/2015,RELEASE IN PART,"B6\nThursday, March 3, 2011 9:45 PM\nH: Latest...",UNCLASSIFIED\nU.S. Department of State\nCase N...

In [20]:
Persons_df = pd.read_sql_query('select * from Persons',conn)
Persons_df.head(2)

   Id                          Name
0   1                111th Congress
1   2  AGNA USEMB Kabul Afghanistan

In [17]:
Aliasesemails_df = pd.read_sql_query('select * from Aliases',conn)
Aliasesemails_df.head()

   Id                         Alias  PersonId
0   1                111th congress         1
1   2  agna usemb kabul afghanistan         2
2   3                            ap         3
3   4                      asuncion         4
4   5                          alec         5

In [18]:
EmailReceivers_df = pd.read_sql_query('select * from EmailReceivers',conn)
EmailReceivers_df.head()

   Id  EmailId  PersonId
0   1        1        80
1   2        2        80
2   3        3       228
3   4        3        80
4   5        4        80